@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PangeaAfrikan';
  src: url('../public/fonts/PangeaAfrikanTextTrial-Regular.otf');
}

@layer base {
  html {
    font-family: 'PangeaAfrikan';
  }
}
